<ngx-datatable class="material" [rows]="customerService.customersSearchResponse.result" [columns]="[{name:'Name'}]"
    [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50" [rowHeight]="'auto'" [externalPaging]="true"
    [count]="customerService.customersSearchResponse.entriesCount" 
    [offset]="customerService.customersSearchResponse.pageNumber" 
    [limit]="customerService.customersSearchResponse.pageSize" 
    (sort)="setSort($event)"
    (page)='setPage($event)'>
</ngx-datatable>